.persPage {
  h1 {
    font-size: 35px;
  }
  .userExit {
    display: flex;
    font-size: 35px;
    strong {
      padding-top: 30px;
    }
  }
  .exitBtn {
    border-radius: 10px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-family: "Nunito", sans-serif;
  }
}
