@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  outline: unset;
  border: none;
  background-color: unset;
  cursor: pointer;
}

input,
textarea {
  outline: unset;
  border: 0;
}

input,
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

main {
  padding: 10px;
  min-height: calc(100vh - 50px);
  background: url("https://phonoteka.org/uploads/posts/2021-07/thumbs/1625518241_33-phonoteka-org-p-zastavki-na-telefon-serie-krasivie-zastavk-33.jpg")
    no-repeat center;
  background-size: cover;
}

h1 {
  text-align: center;
}

.blackBtn {
  width: 100%;
  height: 48px;
  font-size: 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
  transition: 0.2s;
  margin-bottom: 15px;
}

.blackBtn:hover {
  background-color: rgba(1, 1, 1, 0.8);
}
